@charset "UTF-8";
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.productos {
    padding: 10px 0;
    width: 80vw;
    max-width: 600px;
    box-shadow: 0px 0px 60px -4px rgba(0, 0, 0, 0.34);
    border-radius: 10px;
}
form {
    display: flex;
    padding: 10px 30px;
    margin: 10px 0;
    border-bottom: #1118272a solid 1px;
    /* background-color: rgb(248, 248, 248); */
    /* border-radius: 5px; */
    position: relative;
}
.contenedor {
    /* border-radius: 10px; */
    display: flex;
    padding: 0;
}
.etiqueta {
    margin-right: 10px;
    font-weight: bold;
    color: rgb(94, 94, 94);
}
.contenedor,
.contenedor2 {
    margin-right: 40px;
}
.contenedor2 {
    position: absolute;
    display: flex;
    margin-left: 35%;
}
p {
    margin: 0;
}
input {
    position: absolute;
    margin-left: 100%;
    transform: translate(-210%, -18%);
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    text-align: center;
    text-decoration: none #6b7280 solid;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}
.input:hover {
    background-color: #517bbe;
}
.input:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.nombre,
.precio {
    color: rgb(126, 126, 126);
}
